.card {
  border: 1px solid rgb(80, 78, 78);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  margin-bottom: 20px;
}
.qsAndAnswer_container {
}
.questionAndIcon {
  display: flex;
  align-items: center;
}
.icon_img {
  width: 30px;
  height: 30px;
}
.question {
  flex-grow: 1;
}
.hrLine {
  border: 1px solid rgb(168, 166, 166);
  width: 100%;
}
.answer {
  color: rgb(100, 96, 96);
}

button {
  border: none;
  background-color: transparent;
}
